:root {
  --color-black: #31344b;
  --color-white: #e6e7ee;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--color-white);
  color: var(--color-black);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* SECTIONS */
.characters__container {
  background: var(--color-white);
}

.characters__wrapper {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 min(1rem, 2vw);
}

.characters__grid {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

.character__item {
  transition: 300ms all ease;
  background: var(--color-white);
  box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #fff;
  border-radius: 0.5rem;
  overflow: hidden;
}

/* .character__item:hover {
  box-shadow: inset 6px 6px 12px #dbdbdb, inset -6px -6px 12px #ffffff;
} */

/* .character__content figure {
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  padding-bottom: 70%;
}

.character__content figure img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  object-fit: cover;
} */

.character__body {
  padding: 1rem;
}

.character__title {
  margin-top: 0;
}
